@using GNB.Web.Utilities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Html.NameApplication()</title>

    <link href="~/lib/thirdPartyLibrary/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/thirdPartyLibrary/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/lib/thirdPartyLibrary/c3-master/c3.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/ApplicationStyleSheet.css" rel="stylesheet" />
    <link href="~/css/colors/default.css" rel="stylesheet" />

    <script src="~/lib/thirdPartyLibrary/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/thirdPartyLibrary/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/thirdPartyLibrary/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/thirdPartyLibrary/c3-master/c3.min.js"></script>
</head>
<body id="bodyLayout" class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">@Html.NameApplication()</p>
        </div>
    </div>
    <div id="main-wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Navbar")
        <div class="page-wrapper">
            @RenderBody()
            <footer class="footer">
                © @DateTime.Now.Year. Todos los derechos reservados
            </footer>
        </div>
    </div>

    <script src="~/lib/thirdPartyLibrary/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/lib/application/custom.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
