@using ClinicaDigar.ViewModels;
@using ClinicaDigar.Enums;
@using ClinicaDigar.Services
@model ClinicaDigar.ViewModels.GeneroVM;

<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row page-titles">
        <!--Título-->
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@Html.ActionLink("Genero", "Index")</h3>
        </div>
        <!--Navegación>-->
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Configuraciones</li>
                <li class="breadcrumb-item">@ViewBag.VistaActual </li>
            </ol>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-body" id="divGuardarGenero">
                        <form id="frmGuardarGenero">
                            @Html.HiddenFor(m => m.ID_Genero)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false)

                            <div class="row">

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.TX_Genero)
                                    @Html.TextBoxFor(m => m.TX_Genero, new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="checkbox checkbox-success">
                                    @Html.CheckBoxFor(m => m.BO_Activo, new { @class = "" })
                                    @Html.LabelFor(m => m.BO_Activo)
                                </div>
                            </div>
                            @if (PermisoFilterRazor.TienePermiso(ControllerEnum.Genero, HelperEnum.Permisos.Edicion, User.Identity.Name))
                            {

                                <a onclick="GuardarGenero();" class="btn btn-sm btn-primary text-white ">Guardar</a>
                                <a href="@Url.Action("Index", "Genero")" class="btn btn-sm btn-info">Regresar</a>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<script>
    let GuardarGenero = async () => {
        const ID_FORM = 'frmGuardarGenero';
        const formIsValid = $(`#${ID_FORM}`).valid();

        if (IsTrue(formIsValid)) {
            let obj = GetFormData(ID_FORM);
            let response = await ConfirmInsertActionReturnData('Genero/GuardarGenero', obj);

            if (response.status == 200 || response.status == 201) {
                redirectApplication('/Genero');
            }
        }
    }
</script>